*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    color: black;
}
.booklist{
    width: 90vw;
    max-width: 1200px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}
@media screen  and (min-width:786px) {
    .booklist{
        grid-template-columns: repeat(3,1fr);
    }

}
.book{
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;
}
.book h2{
    margin-top: 0.5rem;
}
.book h5{
    color: #617d98;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}